body {
  margin: 0;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

a {
  color: var(--fg);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

#exit {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
#exit > a {
  position: absolute;
  display: block;
  pointer-events: all;
}
#exit > a > img {
  width: 100%;
}
