@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

:root {
  --bg: white;
  --fg: black;
  --fgl: rgb(210, 210, 210);
  --th: rgb(50, 100, 210);

  --ff: 'Pretendard Variable', sans-serif;

  --title-ff: var(--ff);
  --title-fs: 2rem;
  --title-fw: 700;
  --title-fg: var(--fg);

  --content-ff: var(--ff);
  --content-fs: 1.1rem;
  --content-fw: 400;
  --content-fg: var(--fg);
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--ff);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 70rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: var(--th);
  z-index: 10;
}
#nav > .row {
  height: 100%;
  align-items: center;
}
#logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg);
  text-decoration: none;
}

#nav .line {
  width: 100%;
  height: 0.5rem;
  background-color: var(--fgl);
}

#main {
  padding-top: 4rem;
}
#content {
  width: 47rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-right: 3rem;
}
#sidebar {
  width: 17rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-left: calc(3rem - 1.5px);
  border-left: solid 1.5px var(--fgl);
}

#title {
  font-family: var(--title-ff);
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
  line-height: 120%;
  letter-spacing: -0.07rem;
}
#info {
  padding-bottom: 2rem;
}
#info .datetime {
  font-size: 0.8rem;
  opacity: 0.5;
  padding-bottom: 1rem;
}
#info .author {
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
#info .author .img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  border: solid 1px var(--fgl);
  margin-right: 0.5rem;
}
#image img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}
#text p {
  font-family: var(--content-ff);
  font-size: var(--content-fs);
  font-weight: var(--content-fw);
  line-height: 180%;
  text-align: left;
}

#list label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  color: var(--fg);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#list .element {
  line-height: 120%;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: solid 1px var(--fgl);
}
#list .element img {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
}
#list .element p {
  padding-right: 0.5rem;
  width: calc(100% - 6.5rem);
  color: var(--fg);
  text-decoration: underline var(--fg);
}

#footer {
  width: 100%;
  height: 12rem;
  background: var(--fgl);
}
