@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@400;700;900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

:root {
  --bg: white;
  --fg: black;
  --fgl: rgb(210, 210, 210);
  --th: rgb(250, 245, 235);

  --ff: 'PT Serif', 'Noto Serif KR', serif;

  --title-ff: 'DM Serif Display', 'Noto Serif KR', serif;
  --title-fs: 3rem;
  --title-fw: 400;
  --title-fg: var(--fg);

  --content-ff: 'PT Serif', 'Noto Serif KR', serif;
  --content-fs: 1.25rem;
  --content-fw: 400;
  --content-fg: var(--fg);
}

body {
  background: var(--th);
  color: var(--fg);
  font-family: var(--ff);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 70rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background: var(--fg);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#nav > .row {
  height: 100%;
  align-items: center;
}
#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  font-family: var(--title-ff);
  font-size: 1.5rem;
  font-weight: var(--title-fw);
  color: var(--bg);
  text-decoration: none;
}

#main .wrapper {
  background: var(--bg);
}
#content {
  width: 40rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-right: 15rem;
}
#sidebar {
  width: 12rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  padding-right: 2rem;
  padding-left: 1rem;
}

#title {
  padding-top: 4.5rem;
  width: 40rem;
  padding-left: 15rem;
  padding-right: 15rem;
  font-family: var(--title-ff);
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
  line-height: 120%;
  letter-spacing: -0.07rem;
}

#info {
  border-top: solid 1px var(--fgl);
}
#info > * {
  padding: 0.5rem 0;
  border-bottom: solid 1px var(--fgl);
}

#image img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
}
#text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text p {
  font-family: var(--content-ff);
  font-size: var(--content-fs);
  font-weight: var(--content-fw);
  line-height: 180%;
  text-align: left;
  width: 40rem;
}

#list {
  width: 40rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 6rem;
}

#list label {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--fg);
  padding: 0.5rem 0;
}
#list .element {
  line-height: 120%;
  padding: 0.75rem 0;
  cursor: pointer;
  border-bottom: solid 1px var(--fgl);
}
#list .element:last-child {
  border-bottom: none;
}
#list .element img {
  width: 6rem;
  height: 4rem;
  object-fit: cover;
}
#list .element p {
  padding-left: 1rem;
  width: calc(100% - 7rem);
  font-family: var(--title-ff);
  font-size: 1.25rem;
  color: var(--fg);
  text-decoration: underline var(--fg);
}

#footer {
  width: 100%;
  height: 12rem;
  background: var(--fg);
}
