@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css');

:root {
  --bg: white;
  --fg: black;
  --ff: 'Pretendard Variable', sans-serif;

  --title-ff: var(--ff);
  --title-fs: 3rem;
  --title-fw: 900;
  --title-fg: black;

  --content-ff: var(--ff);
  --content-fs: 1rem;
  --content-fw: 400;
  --content-fg: black;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: var(--ff);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(15, 3rem);
  gap: 0 1rem;
}

#nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background: black;
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#nav .wrapper {
  height: 100%;
}
#nav-logo {
  grid-column: 1/6;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nav-logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  text-decoration: none;
  background: #ff0000;
  padding: 0 0.5rem;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
#header-title {
  grid-column: 1/14;
}
#header h1 {
  font-size: var(--title-fs);
  font-weight: var(--title-fw);
  line-height: 120%;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}
#content-article {
  grid-column: 1/11;
}
#content-article p {
  font-size: var(--content-fs);
  font-weight: var(--content-fw);
  line-height: 180%;
  text-align: left;
}
#content-list {
  grid-column: 11/16;
}
#content-list .listcell {
  margin-top: 0.25rem;
  background: rgb(230, 230, 230);
  padding: 0.5rem;
  margin-bottom: 0.75rem;
}
#content-list .listcell label {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.15rem;
  color: rgb(128, 128, 128);
  margin-bottom: 0.5rem;
}
#content-list .art {
  display: block;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border: solid 1px rgb(210, 210, 210);
  color: black;
}
#content-list .art:hover {
  background: rgb(210, 210, 210);
}
#content-list .art:last-child {
  margin-bottom: 0;
}

#content-list .adv img {
  width: 100%;
}

#footer {
  width: 100%;
  height: 12rem;
  margin-top: 5rem;
  background: rgb(0, 0, 0);
}
