nav#nav
  .wrapper
    .cell#nav-logo 
      a(href="")
        span DOOOOOOOM

header#header
  .wrapper 
    .cell#header-title
      h1!= title

section#content
  .wrapper 
    .cell#content-article
      article!= content
    .cell#content-list
      .listcell.index
        label Headlines
        each index, i in links
          if i == 6
            - break
          a(href=`/${index.site}`).art!= index.title
      .listcell.adv
        label Advertisement
        a.ad

footer#footer 
  .wrapper