nav#nav
  .wrapper
    .cell#nav-logo 
      a(href="")
        span OVERFLOW

section#title
  .wrapper 
    .cell#title-cell
      h1!= title

section#info
  .wrapper 
    .cell#info-cell-author
      p Aaaaaaa Aaa
      p 
        span 9999-99-99
        span ·
        span 5 min reading

section#content
  .wrapper 
    .cell#content-article
      article!= content

section#index
  .wrapper 
    each index, i in links
      if i == 6
        - break
      a.cell.art(href=`/${index.site}`)!= index.title

footer#footer 
  .wrapper