doctype html
head

  title WANDERINTHETIME.COM

  style.
    body {
      margin: 0;
    }
    main {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    }
    .layer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
    #title > img {
      width: 100%;
    }
    #enter {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #enter > a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((50vw + 50vh) / 2);
      height: calc(((50vw + 50vh) / 2) / 2);
      border-radius: 100% 100%;
      overflow: hidden;
      box-shadow: inset 0 0 0 calc(((50vw + 50vh) / 2) / 45) black;
    }
    #enter > a > img {
      width: 60%;
    }
    
body

  main

    section#enter.layer
      a#button-enter(href='')
        img(src='/resources/enter.svg')

  script.

    setInterval(() => {
      document.querySelector('#button-enter').href = '/' + parseInt(Date.now().toString().split('').reverse().join('')).toString(36).split('').reverse().join('').substring(0, 4);
    }, 100);
