doctype html
head

  link(href="/resources/exit.css" rel="stylesheet")

  title EXIT

body

  main#exit-confirm

    h1
      span YOU FOUND 
      span THE EXIT!

    h2.m1 How long have you spent here?

    h2.m2 Tell me how you feel about it.

    .value 0

    .controls 
  
      .button.sub1d(v=-86400) - 1 Day 
      .button.sub1h(v=-3600) - 1 Hour
      .button.sub1m(v=-60) - 1 Minute
      .button.sub1s(v=-1) - 1 Second
      .button.add1s(v=1) + 1 Second 
      .button.add1m(v=60) + 1 Minute
      .button.add1h(v=3600) + 1 Hour 
      .button.add1d(v=86400) + 1 Day

    .controls 
  
      .button.sub1h(v=-36000) - 10 Hours
      .button.sub1m(v=-600) - 10 Minutes
      .button.sub1s(v=-10) - 10 Seconds
      .button.add1s(v=10) + 10 Seconds 
      .button.add1m(v=600) + 10 Minutes
      .button.add1h(v=36000) + 10 Hours 

    button#button-exit CLICK TO ESCAPE

    button#button-back GO BACK

    script(src="/resources/exit.mjs" type="module")
