link(href="/resources/layouts/random-1.css" rel="stylesheet")

section#background-1!= layers.bg1

section#content!= layers.content

section#foreground-1!= layers.fg1

section#foreground-2!= layers.fg2

