case layout

  when "blank": include /views/layouts/blank

  when "article-1": include /views/layouts/article-1

  when "article-2": include /views/layouts/article-2

  when "article-3": include /views/layouts/article-3

  when "article-4": include /views/layouts/article-4

  when "product-1": include /views/layouts/product-1

  when "product-2": include /views/layouts/product-2

  when "product-3": include /views/layouts/product-3

  when "product-4": include /views/layouts/product-4

  when "random-1": include /views/layouts/random-1